@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="row product-type-choice ">
        <div class="col-auto product-type-choice-item">
            <img class="product-type-choice-image" src="~/Content/Images/ProductIMG/mat-na-nghe-hung-yen-cocoon-giup-da-rang-ro-min-mang-100ml-3.jpg" />
        </div>
        <div class="col-auto product-type-choice-item">
            <img class="product-type-choice-image" src="~/Content/Images/ProductIMG/mat-na-nghe-hung-yen-cocoon-giup-da-rang-ro-min-mang-100ml-3.jpg" />

        </div>
        <div class="col-auto product-type-choice-item">
            <img class="product-type-choice-image" src="~/Content/Images/ProductIMG/mat-na-nghe-hung-yen-cocoon-giup-da-rang-ro-min-mang-100ml-3.jpg" />

        </div>
        <div class="col-auto product-type-choice-item">
            <img class="product-type-choice-image" src="~/Content/Images/ProductIMG/mat-na-nghe-hung-yen-cocoon-giup-da-rang-ro-min-mang-100ml-3.jpg" />

        </div>
        <div class="col-auto product-type-choice-item">
            <img class="product-type-choice-image" src="~/Content/Images/ProductIMG/mat-na-nghe-hung-yen-cocoon-giup-da-rang-ro-min-mang-100ml-3.jpg" />

        </div>
        <div class="col-auto product-type-choice-item">
            <img class="product-type-choice-image" src="~/Content/Images/ProductIMG/mat-na-nghe-hung-yen-cocoon-giup-da-rang-ro-min-mang-100ml-3.jpg" />

        </div>

    </div>
</main>